<!-- THIS FILE SHOULD BE IN A SEPARATE FOLDER TO BE APPLIED AFTER ALL PATCHES IN APP_CONFIG\INCLUDE FOLDER -->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>  
    <pipelines>
      <mvc.getPageRendering>
        <processor type="SharedSource.PdfPrint.Pipelines.GetPdfRootRendering, SharedSource.PdfPrint"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']"/>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>
